/*Inicialização*/
* {
	box-sizing: border-box;
}

body, h1, h2, p, ul, li, a {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
	
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

/*Menu*/
.menu-bg {
	background: #3A3A3A;
	height: 67px;
}

.menu {
    max-width: 1048px;
    margin: 0 auto;
    padding:15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.menu-nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.menu a {
	color: #fff;
	text-transform: uppercase;
	padding: 10px;
}
/*Imagem Capa*/

#apresentacao .capa-de-perfil img {
	background-image: url(img/img10.jpg) no-repeat;
	object-fit: cover;
	object-position: center;
	height: 310px;	
}

/*Apresentação*/
#apresentacao .info-imagem-apresentacao{
	max-width: 1048px;
    margin: 0 auto;
    padding:15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	height: 561.5px;
	background: #FFFFFF;
	color: black;
}

.redes-socias a img {
	display: flex;
	flex-wrap: nowrap;
}
.redes-socias img {
	background-image: url(img/minha_foto.jpg) no-repeat;
	width: 183px;
	height: 184px;
	border-radius: 50%;
}
 .redes-socias a img {
	/* background-image: url(img/icon-github.png) no-repeat; */
	width: 40px;
	height: 41px;
	border-radius: 50%;

}
.redes-socias a img {
	background-image: url(img/icon-linkedin.png) no-repeat;
	width: 40px;
	height: 41px;
	border-radius: 50%;
}
.redes-socias a img {
	background-image: url(img/icon-stackoverflow.svg) no-repeat;
	width: 40px;
	height: 41px;
	border-radius: 50%;
}  

#apresentacao .info-imagem-apresentacao .redes-socias .icone {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}



#apresentacao .info-imagem-apresentacao .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

/*formacao*/

#formacao {
	background: #DEDEDE;
	height: 353px;

}

.formacao-container {
	max-width: 1048px;
    margin: 0 auto;
	flex-direction: column;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	color: black;
}
.formacao1  h1 {
	margin: 34px 0px 36px 0px;
	font-size: 300;
	color: #707070;
}

.formacao1 > div p:nth-of-type(1) {
	color: red;
	width: 109px;
	height: 31px;
}
.formacao1 > div p:nth-of-type(3) {
	color: yellow;
	width: 109px;
	height: 31px;
}

.formacao2 > div p:nth-of-type(1) {
	color: green;
	width: 109px;
	height: 31px;
}

/*Experência*/
#experencia {
	height: 353px;
	background: #434343;
}
.container-experencia {
	max-width: 1048px;
    margin: 0 auto;
	flex-direction: column;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.container-experencia  h1 {
	margin: 34px 0px 36px 0px;
	font-size: 300;
	color: #999999;
}
/*Projetos*/
#projeto {
	background: #F2F2F2;
	height: 518px;
}
#projeto h1 {
		max-width: 1048px;
		margin: 0 auto;
		padding:15px 0;
	margin: 34px 0px 36px 0px;
	color: #707070;
}
.projeto-container {
	max-width: 1048px;
    margin: 0 auto;
	width: 865px;
	height: 353px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.card-projeto img {
	width: 245px;
	height: 135px;
	padding: 16.9px 16.53px 8px 11.61px;
	background-image: url(img/img10.jpg) no repeat;
	object-position: center;
	object-fit: cover;
	background-position: center;
}
.card-projeto {
	background: #fff;
	border: 3px solid black;
	border-radius: 5px;
	margin: 6px 9px;
	width: 260px;
	height: 335px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.3);
}

.card-projeto h2 {
	padding: 0px 65.47px 8px 11px;
	color: #707070;
	font-weight: bold;
	display: block;
	font-size: small;
}
.card-projeto p {
	width: 232px;
	height: 76px;
	padding: 8px 17px 25px 11px;
	margin-bottom: 17px;
	text-align: left;
	color :#707070
}
.card-projeto a {
	padding: 9px 16px;
	margin: 16px 12px 19px 11px;
	background: #585858;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: x-small;
}

/*Contato*/
#contato {
	background: #000000;
	height: 609px;
}

#contato h1 {
    max-width: 1048px;
    margin: 0 auto;
    padding:15px 0;
}
.contato-container {
	max-width: 1048px;
    margin: 0 auto;
    padding:15px 0;
	display: flex;
	flex-wrap: wrap;
}
.contato {
	width: 398px;
	height: 200px;
	margin: 43px 0px 55px 0px;
}
.icones-red-sociais {
	display: flex;
	flex-wrap: nowrap;
	margin: 55px 207px 12px 0px;
	
}
.icones-red-sociais img {
	width: 58px;
	height: 58px;
	border-radius: 50%;
	padding: 10px;
}
.links-redes-sociais {
	display: flex;
	flex-wrap: no-wrap;
	align-items: flex-start;
	justify-content: flex-start;
	font-size: xx-small;
}
.links-redes-sociais a {
	width: 37px;
	height: 11px;
	padding: 20px;
	margin: 0px 5px;
	font-size: 8px;
	font-weight: normal normal 600;
	color: #707070;
}
.formulário {
	width: 358px;
}
.input-formulario {
	width: 398px;
	height: 34px;
	background: #FFFFFF;
	border: 1px solid #707070;
	border-radius: 4px;
}
.input-messagem-formulario {
	width: 398px;
	height: 133px;
	background: #FFFFFF;
	border: 1px solid #707070;
	border-radius: 4px;
}
.button {
	width: 122px;
	height: 34px;
	color: #fff;
	background: #585858;
	border-radius: 5px;
	border: 0;
}

/*Responsividade*/
/*Versão mobile*/
@media screen and (max-width:320px){
	.menu img {
		margin-left: 15px;
	}
	.menu-nav {
		display: none;
	}
	/*.menu-nav img {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
	} Aqui entra o icone hamburguer*/
	#apresentacao,#formacao,#experencia,#projeto,#contato {
		flex-direction: column;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		
	}	
	/*.contato-container {
		display: flex;
		flex-wrap: wrap;
		flex-flow: wrap;
	}
	.contato {
		width: 300px;
	}
	.input-formulario {
		width: 200px;
		margin-bottom: 5px;
	}
	.input-messagem-formulario {
		width: 200px;
		height: 100px;
	}
	.button {
		margin-bottom: 10px;
	}*/
}
/*Versão Tablet*/
@media screen and (max-width:1048px) and (min-width:320px) {
	.menu img {
		margin-left: 15px;
	}
	
	
	.projeto-container {
		max-width: 1048px;
		margin: 0 auto;
		width: 865px;
		height: 353px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
}
@media screen and (max-width:710px) and (min-width:320px) {
	.menu-nav {
		display: none;
	}
	/*.menu-nav img {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
	} Aqui entra o icone hamburguer*/
}