/*Inicialização*/
* {
	box-sizing: border-box;
}

body, h1, h2, p, ul, li, a {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
	
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

/*Menu*/
.menu-bg {
	background: #3A3A3A;
	height: 67px;
}

.menu {
    max-width: 1048px;
    margin: 0 auto;
    padding:15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.menu-nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.menu a {
	color: #fff;
	text-transform: uppercase;
	padding: 10px;
}
/*Imagem Capa*/

#apresentacao .capa-de-perfil img {
	background-image: url(img/img10.jpg) no-repeat;
	object-fit: cover;
	object-position: center;
	height: 310px;	
}

/*Apresentação*/
#apresentacao .info-imagem-apresentacao{
	max-width: 1048px;
    margin: 0 auto;
    padding:15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	height: 561.5px;
	background: #FFFFFF;
	color: black;
}

.redes-socias a img {
	display: flex;
	flex-wrap: nowrap;
}
.redes-socias img {
	background-image: url(img/minha_foto.jpg) no-repeat;
	width: 183px;
	height: 184px;
	border-radius: 50%;
}
 .redes-socias a img {
	/* background-image: url(img/icon-github.png) no-repeat; */
	width: 40px;
	height: 41px;
	border-radius: 50%;

}
.redes-socias a img {
	background-image: url(img/icon-linkedin.png) no-repeat;
	width: 40px;
	height: 41px;
	border-radius: 50%;
}
.redes-socias a img {
	background-image: url(img/icon-stackoverflow.svg) no-repeat;
	width: 40px;
	height: 41px;
	border-radius: 50%;
}  

#apresentacao .info-imagem-apresentacao .redes-socias .icone {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}



#apresentacao .info-imagem-apresentacao .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

/*formacao*/

#formacao {
	background: #DEDEDE;
	height: 353px;

}

.formacao-container {
	max-width: 1048px;
    margin: 0 auto;
	flex-direction: column;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	color: black;
}
.formacao-container .formaca1  h1 {
	margin: 34px 0px 36px 0px;
}

