/*Inicialização*/
* {
	box-sizing: border-box;
}

body, h1, h2, p, ul, li, a {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;	
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

/*Menu*/

.menu img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
#header{
	display:flex;
	align-items:center;
	height:67px;
	justify-content:space-between;
	
	padding:15px;
	max-width: 1048px;	
    margin: 0 auto;
    
}
.menu-bg {
	background: #3A3A3A;
	
}
#menu{
	display: flex;
	gap:15px;
	
}
#menu a {
	padding:10px;
	color: #fff;
	text-transform: uppercase;
}
#menu a:hover{
	background:#DEDEDE;
}
#btn-mobile{
	display: none;
}

@media(max-width: 836px){
	#btn-mobile {
		display:block;		
	}
	#menu{
		display:none;		
	}
	
}

/*Imagem Capa*/

#apresentacao .capa-de-perfil img {
	background-image: url(img/img10.jpg) no-repeat;
	object-fit: cover;
	object-position: center;
	height: 310px;	
}

/*Apresentação*/
#apresentacao {
	background: #fff;
}
.container-info{
	max-width: 1048px;	
    margin: 0 auto;
    padding:15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:flex-start;	
	color: black;	
}

.redes-socias a img {
	display: flex;
	flex-wrap: nowrap;
}
.redes-socias img {
	background-image: url(img/minha_foto.jpg) no-repeat;
	width: 183px;
	height: 184px;
	border-radius: 50%;	
}
 .redes-socias a img {
	/* background-image: url(img/icon-github.png) no-repeat; */
	width: 40px;
	height: 41px;
	border-radius: 50%;
}
.redes-socias a img {
	background-image: url(img/icon-linkedin.png) no-repeat;
	width: 40px;
	height: 41px;
	border-radius: 50%;
}
.redes-socias a img {
	background-image: url(img/icon-stackoverflow.svg) no-repeat;
	width: 40px;
	height: 41px;
	border-radius: 50%;
}  


#apresentacao .info-imagem-apresentacao .redes-socias .icone {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.info {
	width: 518px;
	
	
}
.info h1 {
	width:422px;
	color: black;
	font-weight: bold;
	opacity: 1;	
	font: 'Montserrat', sans-serif;
}
.info h2 {
	font-style: italic;
	color: black;
}
.info p em {
	font-weight: 700;
}

/*formacao*/
#formacao {
	background: #DEDEDE;
}
.formacao-container {
	flex-direction:column;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
		
	height: 353px;
	max-width: 1048px;
    margin: 0 auto;
	color: black;
	flex-grow:2 2;
}

.formacao1, .formacao2 {
	
	display:block;
	margin-bottom: 10px;
	border-left: 3px solid red;
	margin: 0px 100px 10px 5px;
	
}



#formacao  h1 {
	margin: 34px 0px 36px 0px;
	font-size: 300;
	color: #707070;
	
}

.formacao1 > div p:nth-of-type(1) {
	color: red;
	width: 109px;
	height: 31px;
}
.formacao1 > div p:nth-of-type(3) {
	color: yellow;
	width: 109px;
	height: 31px;
}

.formacao2 > div p:nth-of-type(1) {
	color: green;
	width: 109px;
	height: 31px;
}

/*Experência*/
#experencia {
	
	background: #434343;
	
}
.container-experencia {
	max-width: 1048px;
    margin: 0 auto;
	flex-direction: column;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	height: 353px;
	color:#707070;
}
.container-experencia h1{
	color:#707070;
}
.experencia-item1 {
	
	margin-bottom: 10px;
}

.container-experencia  h1 {
	margin: 34px 0px 36px 0px;
	font-size: 300;
	color: #999999;
}
.experencia-item1, .experencia-item2 {
	
	display:block;
	margin-bottom: 10px;
	border-left: 3px solid red;
	margin: 0px 100px 10px 5px;
	
}
/*Projetos*/
#projeto {
	background: #F2F2F2;
	height: 518px;
	
}
#projeto h1 {
	color:#707070;
	max-width: 1048px;
    margin: 0 auto;
	margin-bottom: 34px;
}
.projeto-container {
	max-width: 1048px;
    margin: 0 auto;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	
}
.card-projeto img {
	width: 245px;
	height: 135px;
	padding: 16.9px 16.53px 8px 11.61px;
	background-image: url(img/img10.jpg) no repeat;
	object-position: center;
	object-fit: cover;
	background-position: center;
}
.card-projeto {
	background: #fff;
	border: 3px solid black;
	border-radius: 5px;
	margin: 6px 9px;
	width: 260px;
	height: 335px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.3);
}

.card-projeto h2 {
	padding: 0px 65.47px 8px 11px;
	color: #707070;
	font-weight: bold;
	display: block;
	font-size: small;
}
.card-projeto p {
	width: 232px;
	height: 76px;
	padding: 8px 17px 25px 11px;
	margin-bottom: 17px;
	text-align: left;
	color :#707070
}
.card-projeto a {
	padding: 9px 16px;
	margin: 16px 12px 19px 11px;
	background: #585858;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: x-small;
}

/*Contato*/
#contato {
	background: #000000;
	
	
}

#contato h1 {
    max-width: 1048px;
    margin: 0 auto;
    padding:15px 0;
}
.contato-container {
	max-width: 1048px;
    margin: 0 auto;
    padding:15px 0;
	display: flex;
	flex-wrap: wrap;
	height: 609px;
}
.contato {
	width: 398px;
	height: 200px;
	margin: 43px 0px 55px 0px;
}
.icones-red-sociais {
	display: flex;
	flex-wrap: nowrap;
	margin: 55px 207px 12px 0px;
	
}
.icones-red-sociais img {
	width: 58px;
	height: 58px;
	border-radius: 50%;
	padding: 10px;
}
.links-redes-sociais {
	display: flex;
	flex-wrap: no-wrap;
	align-items: flex-start;
	justify-content: flex-start;
	font-size: xx-small;
}
.links-redes-sociais a {
	width: 37px;
	height: 11px;
	padding: 20px;
	margin: 0px 5px;
	font-size: 8px;
	font-weight: normal normal 600;
	color: #707070;
}
.formulário {
	width: 358px;
}
label {
	display:block;
}
.input-formulario {
	width: 398px;
	height: 34px;
	background: #FFFFFF;
	border: 1px solid #707070;
	border-radius: 4px;
	margin-bottom: 17px;
}
.input-messagem-formulario {
	width: 398px;
	height: 133px;
	background: #FFFFFF;
	border: 1px solid #707070;
	border-radius: 4px;
}
.button {
	width: 122px;
	height: 34px;
	color: #fff;
	background: #585858;
	border-radius: 5px;
	border: 0;
	display: block;
	margin: auto;
	margin-top: 15px;
	cursor: pointer;
}

.invalido {
	border: 3px solid red;
}


